
/* Styling universal selector */
* {
	/* margin-top: 50px; */
	margin: 0;
	margin-top: 10px;

	padding: 0;
	box-sizing: border-box;
}



.App {
	text-align: center;
}



/* Style body element */
body {
	min-height: 50vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: hsl(0, 0%, 100%);
	font-family: "Poppins", sans-serif;
  background: rgb(109, 157, 87);
}

/* Styling card container */
.card {
	height: fit-content;
	min-width: 33rem;
	background: rgba(147, 208, 119, 1);
	margin: 0 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 100%;
}

h2 {
	position: relative;
	max-height: fit-content;
	min-width: 33rem;
	width: 100%;
	background: rgb(109, 157, 87);
  padding: 1rem;
}
